# Python virtual environments
.venv/
venv/
ENV/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# Database files
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
